Source: classicmenu-indicator
Section: gnome
Priority: optional
Rules-Requires-Root: no
Maintainer: Florian Diesch <devel@florian-diesch.de>
Build-Depends: debhelper (>=12),
	       dh-python,
               python3,
               python3-setuptools,
	       intltool
Standards-Version: 4.4.0
Homepage: http://www.florian-diesch.de/software/classicmenu-indicator/


Package: classicmenu-indicator
Architecture: all
Depends: ${misc:Depends},
	 ${python3:Depends},
         python3,
         python3-gi,
	 gir1.2-glib-2.0,
	 gir1.2-gtk-3.0 (>= 3.4),
	 gir1.2-gmenu-3.0,
         python3-pkg-resources
Suggests: gir1.2-appindicator3-0.1
Description: indicator showing a classic application menu
 ClassicMenu Indicator is a notification area applet (application
 indicator) for the top panel of Ubuntu’s Unity desktop environment
 and other environments that support the AppIndicator protocol.
 .
 It provides a simple way to get a GNOME Classic-style application
 menu for those who prefer this over the Unity dash menu.