Package: classicmenu-indicator
Version: 0.03
Architecture: all
Maintainer: Florian Diesch <devel@florian-diesch.de>
Installed-Size: 248
Depends: python2.7 | python2.6, python (>= 2.7.1-0ubuntu2), python-gmenu, python-appindicator, python-gtk2, python-gobject
Breaks: python (>= 2.8), python (<< 2.6)
Section: gnome
Priority: optional
Homepage: http://www.florian-diesch.de/software/classicmenu-indicator/
Description: indicator showing the main menu from Gnome Classic
 classicmenu-indicator displays the main menu from Gnome2/Gnome Classic
